nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #777;
}

ul > li {
  list-style: none;
}

.links,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo > img {
  width: 40px;
  margin-right: 0.6em;
}

.logo > h2 {
  transition: 0.3s;
}

.logo:hover > h2 {
  color: var(--primary-yellow);
}

.menu-icon{
  display: none;
}

@media (max-width: 600px) {
  .links{
    display: none;
  }
  .responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .menu-icon {
    display: block;
  }
}

