.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-moment {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  grid-column: 2;
}

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
