<form>
  <div class="form-group">
    <label for="title">Título:</label>
    <input id="title" type="text" placeholder="Coloque um Título" required />
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea id="description" placeholder="Descreva seu momento"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Anexe o registro desse momento:</label>
    <input id="image" type="file" required />
  </div>
  <input type="submit" value="{{ btnText }}" />
</form>
